.products-block {

}

.products-title,
.menu-title {
    margin: 2% 2%;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    margin: 10px 6px;
    padding: 0 5%;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 8px #ccc;
    border-radius: 5px;
    position: relative;
}

.product-img {
    width: 100%;
    height: 250px;
}

.delete-btn {
    border-radius: 5px;
    background: transparent;
    width: 30px;
    height: 30px;
    border: none;
    color: #ccc;
    position: absolute;
    font-size: 25px;
    font-family: monospace;
    font-weight: 500;
    line-height: 20px;
    right: 0;
}

.delete-btn:hover {
    background: #cc0011;
    color: #ffffff;
}

.product-txt {
    text-align: center;
    align-self: center;
    margin: 20px 2px 0;
}

.product-name {
    display: block;
    border-bottom: 1px solid #ccc;
    text-transform: capitalize;
}

.product-price {
    display: block;
    padding: 6px 0;
}

.product-description {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
